.header {
  background-image: url("/svg/header_banner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-with-curve {
  position: relative;
  overflow: hidden;
}

.header-with-curve::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: 35%;
  background-color: #005286;
  border-radius: 70% 70% 0 0;
}
